<div id="contract" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/contract-list'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="mode ==='Edit'">
            {{contract.contract_no}}
          </div>
          <div class="h2" *ngIf="mode ==='Add'">
            New Contract
          </div>
          <div class="subtitle secondary-text">
            <span>Contract Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button class="save-contract-button" [disabled]="form.invalid" *ngIf="mode ==='Add'"
        (click)="addContract()">
        <mat-icon>add</mat-icon>
        <span>ADD CONTRACT</span>
      </button>

      <button mat-raised-button class="save-contract-button" [disabled]="form.invalid || form.pristine"
        *ngIf="mode ==='Edit'" (click)="saveProduct()">
        <mat-icon>save</mat-icon>
        <span>SAVE CONTRACT</span>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

          <form class="mat-card p-24" fxLayout="column" name="form" [formGroup]="form" #formData='ngForm'
          (ngSubmit)="onSubmit(formData)">
          <!-- <div class="h2 mb-24">{{mode}} - Contract</div> -->
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Contract No.</mat-label>
              <input matInput formControlName="contract_no">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Contract Status</mat-label>
              <input matInput formControlName="contract_status">
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Contract Made By</mat-label>
              <mat-select formControlName="contract_made_on_id">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let contract_made_on of contract_made_ons" [value]="contract_made_on.id">
                  {{contract_made_on.lov1}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Contrat Crop Year</mat-label>
              <mat-select formControlName="crop_year">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let crop_year of crop_years" [value]="crop_year.value">
                  {{crop_year.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Contract Date</mat-label>
              <input matInput [matDatepicker]="dp_contract_date" placeholder="Choose a date" formControlName="contract_date">
              <mat-datepicker-toggle matSuffix [for]="dp_contract_date"></mat-datepicker-toggle>
              <mat-datepicker #dp_contract_date></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Seller</mat-label>
              <mat-select formControlName="seller_id">
                <!-- <mat-option [value]="">
                    --All--
                  </mat-option> -->
                <mat-option *ngFor="let seller of sellers" [value]="seller.id">
                  {{seller.party_abbv}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pr-4">
              <mat-label>Group Factory</mat-label>
              <mat-select formControlName="group_factory_id">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let group_factory of group_factories" [value]="group_factory.id">
                  {{group_factory.lov1}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Sugar Type</mat-label>
              <mat-select formControlName="sugar_type_id">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let sugar_type of sugar_types" [value]="sugar_type.id">
                  {{sugar_type.lov1}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pr-4">
              <mat-label>Buyer Contract No</mat-label>
              <input matInput formControlName="buyer_contract_no">
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Buyer</mat-label>
              <mat-select formControlName="sugar_type_id">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let sugar_type of sugar_types" [value]="sugar_type.id">
                  {{sugar_type.lov1}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Shipment Term</mat-label>
              <mat-select formControlName="shipment_term_id">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let shipment_term of shipment_terms" [value]="shipment_term.id">
                  {{shipment_term.shipterm_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label class="pl-8">Shipment By</mat-label>
              <mat-radio-group formControlName="shipment_by" aria-label="Select an option">
                <mat-radio-button value="C" class="pl-8">Contract</mat-radio-button>
                <mat-radio-button value="P" class="pl-8">Product</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="25" class="pr-4">
              <mat-label>Shipment Period From</mat-label>
              <input matInput [matDatepicker]="dp_shipment_period_from" placeholder="Choose a date" formControlName="shipment_period_from">
              <mat-datepicker-toggle matSuffix [for]="dp_shipment_period_from"></mat-datepicker-toggle>
              <mat-datepicker #dp_shipment_period_from></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="25" class="pr-4">
              <mat-label>Shipment Period To</mat-label>
              <input matInput [matDatepicker]="dp_shipment_period_to" placeholder="Choose a date" formControlName="shipment_period_to">
              <mat-datepicker-toggle matSuffix [for]="dp_shipment_period_to"></mat-datepicker-toggle>
              <mat-datepicker #dp_shipment_period_to></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Shipment Option</mat-label>
              <mat-select formControlName="shipment_option">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let shipment_option of shipment_options" [value]="shipment_option.value">
                  {{shipment_option.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pr-4">
              <mat-label>Partial Shipment Option</mat-label>
              <mat-select formControlName="partial_shipment_option_id">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let partial_shipment_option of partial_shipment_options"
                  [value]="partial_shipment_option.id">
                  {{partial_shipment_option.lov1}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Shipment To</mat-label>
              <mat-select formControlName="shipment_to_id">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let shipment_to of shipment_tos" [value]="shipment_to.id">
                  {{shipment_to.name_en}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Payment Term</mat-label>
              <mat-select formControlName="payment_term_id">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let payment_term of payment_terms" [value]="payment_term.id">
                  {{payment_term.pmt_abbv}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pr-4">
              <mat-label>Currency</mat-label>
              <mat-select formControlName="currency_id">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                  {{currency.name_en}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
              <mat-label>Exchange Rate</mat-label>
              <input matInput formControlName="exchange_rate" mask="comma_separator.2">
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="100" class="pr-4">
              <mat-label>Shipment Term Remark</mat-label>
              <textarea matInput formControlName="shipment_term_remark">
                </textarea>
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="100" class="pr-4">
              <mat-label>Product Remark</mat-label>
              <textarea matInput formControlName="product_remark">
            </textarea>
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pr-4">
              <mat-label>General Term and Condition Type</mat-label>
              <mat-select formControlName="gen_term_condition_id">
                <mat-option [value]="">
                  --All--
                </mat-option>
                <mat-option *ngFor="let term_cond of term_conds" [value]="term_cond.id">
                  {{term_cond.tc_code}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="100" class="pr-4">
              <mat-label>General Term and Condition</mat-label>
              <textarea matInput [value]="gen_term_condition_desc">
            </textarea>
            </mat-form-field>
          </div>
    
          <div class="p-24" *ngIf="mode != 'View'" fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="1 0 auto">
              <button type="button" mat-raised-button (click)="openContractItemDialog(null)" color="accent" class="submit-button" aria-label="ADD">
                <mat-icon>add</mat-icon>
                ADD CONTRACT ITEM
              </button>
          </div>
    
          <table mat-table [dataSource]="contract_items" class="mat-elevation-z8">
    
              <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>
    
              <!-- Order Date Column -->
              <ng-container matColumnDef="product.name_en">
                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.product.name_en}} </td>
              </ng-container>
      
              <!-- Sale Price Column -->
              <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef> Quantity(MT) </th>
                <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
              </ng-container>
      
              <!-- Buy Price Column -->
              <ng-container matColumnDef="pu_code.name_en">
                <th mat-header-cell *matHeaderCellDef> Packing Unit </th>
                <td mat-cell *matCellDef="let element"> {{element.pu_code.name_en}} </td>
              </ng-container>
      
              <ng-container matColumnDef="packing_qty">
                <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Packing Qty </th>
                <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.packing_qty}} </td>
              </ng-container>
      
              <ng-container matColumnDef="unit_name_eng.name_en">
                <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Unit </th>
                <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.unit_name_eng.name_en}} </td>
              </ng-container>
      
              <ng-container matColumnDef="shipment_period_from">
                <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Shipment Period (from) </th>
                <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.shipment_period_from}} </td>
              </ng-container>
      
              <ng-container matColumnDef="shipment_period_to">
                <th mat-header-cell *matHeaderCellDef> Shipment Period (to) </th>
                <td mat-cell *matCellDef="let element"> {{element.shipment_period_to}} </td>
              </ng-container>
      
      
              <ng-container matColumnDef="price_type.lov1">
                <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Price Type </th>
                <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.price_type.lov1}} </td>
              </ng-container>
    
              <ng-container matColumnDef="sugar_cost">
                  <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Sugar Cost </th>
                  <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.sugar_cost}} </td>
                </ng-container>
    
                <ng-container matColumnDef="packing_cost">
                    <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Packing Cost </th>
                    <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.packing_cost}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="insurance_cost">
                    <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Insurance </th>
                    <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.insurance_cost}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="freight_cost">
                    <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Freight </th>
                    <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.freight_cost}} </td>
                  </ng-container>
    
                  <ng-container matColumnDef="net_price">
                    <th mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> Net Price </th>
                    <td mat-cell *matCellDef="let element" fxHide fxShow.gt-sm> {{element.net_price}} </td>
                  </ng-container>
      
              <ng-container matColumnDef="star" stickyEnd>
                <th mat-header-cell *matHeaderCellDef>
                  <button mat-fab color="warn" id="add-price-button" (click)="newItem()" aria-label="add Product"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                    <mat-icon>add</mat-icon>
                  </button>
                </th>
                <!-- <td mat-cell *matCellDef="let element">
                  <mat-icon color="warn">edit</mat-icon>
                  <mat-icon color="warn">delete</mat-icon>
                </td> -->
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>