<div class="page-layout carded fullwidth p-24" fusePerfectScrollbar>
  <mat-card>
    <mat-grid-list [cols]="6" rowHeight="31px">
      <mat-grid-tile [colspan]="6">
        <div class="left">
          <h2 class="m-0">Contract</h2>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="6" rowHeight="60px" (window:resize)="onResize($event)">
      <mat-grid-tile [colspan]="colSpSelect">
        <mat-form-field style="width: 90%;">
          <mat-label>Select Contract No.</mat-label>
          <mat-select>
            <mat-option *ngFor="let contactno of contactno" [value]="contactno.value">
              {{contactno.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>  
      <mat-grid-tile [colspan]="colSpSelect">
        <mat-form-field style="width: 90%">
          <input matInput placeholder="contact date">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="colSpSelect">
        <mat-form-field style="width: 90%;">
          <mat-label>Select Contract Status</mat-label>
          <mat-select>
            <mat-option *ngFor="let contactstatus of contactstatus" [value]="contactstatus.value">
              {{contactstatus.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="6" rowHeight="60px" (window:resize)="onResize($event)">
      <mat-grid-tile [colspan]="colSpSelect">
        <mat-form-field style="width: 90%;">
          <mat-label>Select Buyer Contrace No.</mat-label>
          <mat-select>
            <mat-option *ngFor="let buyercontacno of buyercontacno" [value]="buyercontacno.value">
              {{buyercontacno.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="colSpSelect">
        <mat-form-field style="width: 90%;">
          <mat-label>Select Buyer</mat-label>
          <mat-select>
            <mat-option *ngFor="let buyer of buyer" [value]="buyer.value">
              {{buyer.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="6" rowHeight="60px" (window:resize)="onResize($event)">
      <mat-grid-tile [colspan]="colSpSelect">
        <mat-form-field style="width: 90%;">
          <mat-label>Select Sugar Type</mat-label>
          <mat-select>
            <mat-option *ngFor="let sugartype of sugartype" [value]="sugartype.value">
              {{sugartype.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="colSpSelect">
        <mat-form-field style="width: 90%;">
          <mat-label>Select Group Factory</mat-label>
          <mat-select>
            <mat-option *ngFor="let groupfactory of groupfactory" [value]="groupfactory.value">
              {{groupfactory.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="colSpBtn">
        <button mat-flat-button class="accent" style="width: 90%">Search</button>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list [cols]="6" rowHeight="31px" (window:resize)="onResize($event)" style="margin-top: 6px">
      <mat-grid-tile [colspan]="colSpBtn">
        <button mat-flat-button class="accent" (click)="onDetail()" style="width: 90%">Add</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

  <mat-card class="mt-24 p-0" style="height: 100%">
        <ngx-data-table [data]="data"></ngx-data-table>
  </mat-card>
</div>