<div id="contracts" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Contract
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <!-- <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a contract">
                </div>
            </div> -->
      <!-- / SEARCH -->

      <!-- ADD BUTTON -->
      <button mat-raised-button (click)="onAdd()" class="add-contract-button fuse-white mt-24 mt-md-0">
        <mat-icon>add</mat-icon>
        <span>ADD NEW CONTRACT</span>
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content">
      <div class="search-card p-12" id="" fxLayout="column">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="25" class="pr-8">
            <mat-label>Contrace No.</mat-label>
            <input matInput placeholder="Contrace No." [(ngModel)]="contract_no">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="25" class="pr-8">
            <mat-label>Contract Date From</mat-label>
            <input matInput [matDatepicker]="contract_date_from" placeholder="Choose Contract Date From">
            <mat-datepicker-toggle matSuffix [for]="contract_date_from"></mat-datepicker-toggle>
            <mat-datepicker (selectedChanged)="checkDate($event)" #contract_date_from disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="25" class="pr-8">
            <mat-label>Contract Date To</mat-label>
            <input matInput [matDatepicker]="contract_date_to" placeholder="Choose Contract Date To">
            <mat-datepicker-toggle matSuffix [for]="contract_date_to"></mat-datepicker-toggle>
            <mat-datepicker (selectedChanged)="checkDate($event)" #contract_date_to disabled="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="25" class="pr-8">
            <mat-label>Select Contract Status</mat-label>
            <mat-select [(value)]="selectedContractStatus">
              <mat-option [value]="">
                --All--
              </mat-option>
              <mat-option *ngFor="let contactstatus of contactstatuses" [value]="contactstatus.value">
                {{contactstatus.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="25" class="pr-8">
            <mat-label>Buyer Contract No.</mat-label>
            <input matInput placeholder="Buyer Contract No." [(ngModel)]="buyer_contract_no">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="25" class="pr-8">
            <mat-label>Select Buyer</mat-label>
            <mat-select [(value)]="selectedBuyer">
              <mat-option [value]="">
                --All--
              </mat-option>
              <mat-option *ngFor="let buyer of buyers" [value]="buyer.id">
                {{buyer.party_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="25" class="pr-8">
            <mat-label>Select Sugar Type</mat-label>
            <mat-select [(value)]="selectedSugarType">
              <mat-option [value]="">
                --All--
              </mat-option>
              <mat-option *ngFor="let sugartype of sugartypes" [value]="sugartype.id">
                {{sugartype.lov1}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="25" class="pr-8">
            <mat-label>Select Group Factory</mat-label>
            <mat-select [(value)]="selectedGroupFactory">
              <mat-option [value]="">
                --All--
              </mat-option>
              <mat-option *ngFor="let groupfactory of groupfactorys" [value]="groupfactory.id">
                {{groupfactory.lov1}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" class="p-8" fxLayoutAlign="end center" fxFlex="1 0 auto">
          <button type="button" (click)="onSearch()" mat-raised-button color="accent" class="submit-button"
            aria-label="SEARCH">
            <mat-icon>search</mat-icon>
            <span>SEARCH CONTRACT</span>
          </button>
        </div>
      </div>
    </div>
    <div class="content-card mt-12">
      <mat-table #table class="contracts-table" [dataSource]="dataSource" multiTemplateDataRows matSort
        (matSortChange)="sortData($event)" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell mat-sort-header *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element" onclick="">
            <span style="cursor: pointer" (click)="toggleRow(element)"
              *ngIf="expandedElement && expandedElement[cols] === element[cols]; else plusIcon"
              class="expand-icon">&#9660;</span>
            <ng-template #plusIcon><span style="cursor: pointer" (click)="toggleRow(element)"
                class="expand-icon">&#9658;</span></ng-template>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="contract_no">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Contract No.</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.contract_no}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="contract_date">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Contract Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.contract_date | date : 'dd MMM yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="buyer_contract_no">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Buyer Contract</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.buyer_contract_no}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="buyer.party_name">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Buyer</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.buyer?.party_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="sugar_type.lov1">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Suger Type</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.sugar_type?.lov1}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="contract_made_on.lov1">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Made by</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.contract_made_on?.lov1}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="crop_year">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Crop Year</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.crop_year}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="group_factory.lov1">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Group Factory</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.group_factory?.lov1}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="shipment_term.shipterm_name">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Shipment Term</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.shipment_term.shipterm_name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ship_period_from">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Shipment Period From</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.shipment_period_from | date: 'dd MMMM yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ship_period_to">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Shipment Period From</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.shipment_period_to | date: 'dd MMMM yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="total_qty">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Quantity(MT)</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.total_qty | number: '0.0-6'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="payment_term.pmt_abbv">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Payment Term</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.payment_term?.pmt_abbv}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="total_shipment">
          <mat-header-cell *matHeaderCellDef>Shipment</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!-- {{element.total_shipment | number: '0.0-6'}} -->
            <div class="p-4">
              <mat-progress-bar class="progress-bar-margin" color="warn" mode="determinate"
                [value]="element.total_shipment/element.total_qty*100">
              </mat-progress-bar>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="currency.cur_code">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Currency</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.currency?.cur_code}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="contract_status">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.contract_status}}</mat-cell>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column -->
        <!-- <ng-container matColumnDef="expandedDetail">
                <mat-cell *matCellDef="let detail">
                  <mat-table #table2 style="width: 100%" [dataSource]="detail.contract_items" multiTemplateDataRows matSort
                    aria-label="Elements">
                    <ng-container matColumnDef="addendum_no">
                      <mat-header-cell mat-sort-header *matHeaderCellDef>Addendum No.</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.addendum_no}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="addendum_date">
                      <mat-header-cell mat-sort-header *matHeaderCellDef>Addendum Date</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.addendum_date}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="addendum_type">
                      <mat-header-cell mat-sort-header *matHeaderCellDef>Addendum Type</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.addendum_type}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="sugar_type.lov1">
                      <mat-header-cell mat-sort-header *matHeaderCellDef>Sugar Type</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.sugar_type.lov1}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="buyer_contract_no">
                      <mat-header-cell mat-sort-header *matHeaderCellDef>Buyer Contract</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.buyer_contract_no}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="buyer.party_name">
                      <mat-header-cell mat-sort-header *matHeaderCellDef>Buyer</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.buyer.party_name}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="total_qty">
                      <mat-header-cell mat-sort-header *matHeaderCellDef>Quantity(MT)</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.total_qty}}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedDetailColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedDetailColumns;"></mat-row>
                  </mat-table>
                </mat-cell>
              </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded]="expandedElement == row"
          (contextmenu)="menu.open($event, {data: row} )"></mat-row>
        <!-- <mat-row *matRowDef="let row; columns: ['expandedDetail']; "
                [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'" style="overflow: hidden"></mat-row> -->
      </mat-table>



      <!-- </div> -->
      <!-- <div class="mat-card p-12" fxLayout="column"> -->
      <mat-paginator *ngIf="dataSource?.length > 0" #paginator [length]="totalRecords" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15, 20]" (page)="pageEvent = PageData($event)">
      </mat-paginator>

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1 1 auto">
        <p *ngIf="dataSource?.length === 0" style="color: red"><b>No records found</b></p>
      </div>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>

<app-context-menu [matMenuTriggerFor]="main" #menu>
  <mat-menu #main="matMenu">
    <ng-template matMenuContent let-data="data">
      <button mat-menu-item (click)="onView(data)">
        <mat-icon>pageview</mat-icon>
        View Contract
      </button>
      <button mat-menu-item (click)="onEdit(data)"
        *ngIf="data?.contract_type.toUpperCase()=='CONTRACT' && data?.contract_status.toUpperCase()=='DRAFT'">
        <mat-icon>create </mat-icon>
        Edit Contract
      </button>
      <button mat-menu-item (click)="onDelete(data)"
        *ngIf="data?.contract_type.toUpperCase()=='CONTRACT' && data?.contract_status.toUpperCase()=='DRAFT'">
        <mat-icon>delete</mat-icon>
        Delete Contract
      </button>
      <button mat-menu-item (click)="onAddAddendem(data)">
        <mat-icon>add</mat-icon>
        Add Addendem
      </button>
    </ng-template>
  </mat-menu>
</app-context-menu>