<div class="page-layout carded fullwidth" fusePerfectScrollbar>
  <mat-card class="example-card" style="margin: 8px;">
    <mat-grid-list cols="4" rowHeight="60px" (window:resize)="onResize($event)">
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Type of Sugar
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <mat-label>Type of Sugar</mat-label>
          <mat-select [(ngModel)]="dataPricing.typeofsugar">
            <mat-option *ngFor="let item of typeofsugar" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Future Market
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Future Market" [(ngModel)]="dataPricing.futuremarket">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Buyer
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <mat-label>Buyer</mat-label>
          <mat-select [(ngModel)]="dataPricing.buyer">
            <mat-option *ngFor="let item of buyer" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Qty(MT)
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder=" Qty(MT)" [(ngModel)]="dataPricing.qty">
        </mat-form-field>

      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Group Factory
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <mat-label> Group Factory</mat-label>
          <mat-select [(ngModel)]="dataPricing.groupfactory">
            <mat-option *ngFor="let item of groupFactory" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100% ;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Shipment
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%">
          <mat-form-field style="width: 40%">
            <input matInput placeholder="date" [(ngModel)]="dataPricing.shipment.startdate">
          </mat-form-field>
          to
          <mat-form-field style="width: 40%">
            <input matInput placeholder="date" [(ngModel)]="dataPricing.shipment.enddate">
          </mat-form-field>

        </div>

      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Buyer Contract No.
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>

        <mat-form-field style="width: 100%">
          <input matInput placeholder="Buyer Contract No." [(ngModel)]="dataPricing.buyercontractno">
        </mat-form-field>


      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Contract No.
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <mat-label>Contract No.</mat-label>
          <mat-select [(ngModel)]="dataPricing.contractno">
            <mat-option *ngFor="let item of contactNo" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Contract Date
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Contract Date" [(ngModel)]="dataPricing.contractdate">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Premium (USD/MT)
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder=" Premium (USD/MT)" [(ngModel)]="dataPricing.premium">
        </mat-form-field>

      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Contract Month
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <mat-label>Contract Month</mat-label>
          <mat-select [(ngModel)]="dataPricing.contractmonth">
            <mat-option *ngFor="let item of months" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%;" [ngClass]="hideCol > 400 ? 'text-center' : 'text-left'">
          Contract Year
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <mat-label>Contract Year</mat-label>
          <mat-select [(ngModel)]="dataPricing.contractyear">
            <mat-option *ngFor="let item of year" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card>
  <mat-card class="example-card" style="margin: 8px;">
    <mat-grid-list cols="6" rowHeight="31px">
      <mat-grid-tile colspan="6" rowspan="2">
        <div style="width: 100%" class="text-right">
          <button mat-stroked-button color="accent">add</button>
        </div>
      </mat-grid-tile>
      <!-- ตารางที่4 -->
      <mat-grid-tile colspan="6">
        <div class="head-tb">
          <p>London No.5</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="9" style="height: 244px;margin: 5px;">
        <div class="example-container mat-elevation-z8" style="width: 100%; ">
          <table mat-table [dataSource]="londonTable" style="min-width: 822px;">

            <ng-container matColumnDef="orderdate">
              <th mat-header-cell *matHeaderCellDef style="width: 150px"> Order Date </th>
              <td mat-cell *matCellDef="let use">
                <mat-form-field style="width:90px">
                  <input matInput placeholder=" Order Date" [(ngModel)]="use.orderdate">
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef>
                <p>Total Priced</p>
                <p>net</p>
              </td>

            </ng-container>
            <ng-container matColumnDef="sell">
              <th mat-header-cell *matHeaderCellDef> Sell (lots) </th>
              <td mat-cell *matCellDef="let use">
                <mat-form-field style="width: 50px">
                  <input matInput placeholder="Sell" [(ngModel)]="use.sell == null ? '' : use.sell">
                </mat-form-field>

              </td>
              <td mat-footer-cell *matFooterCellDef>
                <p>75</p>
                <p>30</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="buy">
              <th mat-header-cell *matHeaderCellDef> Buy (lots) </th>
              <td mat-cell *matCellDef="let use">
                <mat-form-field style="width: 50px">
                  <input matInput placeholder="Buy" [(ngModel)]="use.buy == null ? '' : use.buy">
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef>
                <p>45</p>
                <p></p>
              </td>
            </ng-container>
            <ng-container matColumnDef="against">
              <th mat-header-cell *matHeaderCellDef>Against </th>
              <td mat-cell *matCellDef="let use">
                <mat-form-field style="width: 70px">
                  <input matInput placeholder="Against" [(ngModel)]="use.against == '' ? '' : use.against">
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef>
              </td>
            </ng-container>
            <ng-container matColumnDef="mon">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let use">
                <mat-form-field style="width:70px">
                  <mat-label>months</mat-label>
                  <mat-select [(ngModel)]="use.mon == '' ? '' : use.mon">
                    <mat-option *ngFor="let item of months" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef>
              </td>
            </ng-container>
            <ng-container matColumnDef="year">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let use">
                <mat-form-field style="width:70px">
                  <mat-label>year</mat-label>
                  <mat-select [(ngModel)]="use.year == '' ? '' : use.year">
                    <mat-option *ngFor="let item of year" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef>
              </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price</th>
              <td mat-cell *matCellDef="let use">
                <mat-form-field style="width: 50px">
                  <input matInput placeholder="Price" [(ngModel)]="use.price == '' ? '' : use.price">
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef>
              </td>
            </ng-container>

            <ng-container matColumnDef="executed">
              <th mat-header-cell *matHeaderCellDef style="width: 90px">Executed on</th>
              <td mat-cell *matCellDef="let use">
                <mat-form-field style="width: 50px">
                  <input matInput placeholder="Executed on" [(ngModel)]="use.executed == '' ? '' : use.executed">
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef>
              </td>
            </ng-container>
            <ng-container matColumnDef="Manage">
              <th mat-header-cell *matHeaderCellDef>Manage</th>
              <td mat-cell *matCellDef="let use" class="cucer-poiter" (click)="onDelete()">
                delete
              </td>
              <td mat-footer-cell *matFooterCellDef>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnLondon; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columnLondon;"></tr>
            <tr mat-footer-row *matFooterRowDef="columnLondon; sticky: true"></tr>
          </table>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="2">
        <div style="width: 100%">
          <button style="margin-left: 5px" mat-stroked-button color="accent">add</button>
        </div>
      </mat-grid-tile>
      <!-- ตารางที่5 -->
      <mat-grid-tile *ngIf="hideCol > 400" colspan="5" rowspan="8" style="height: 244px;margin: 5px;">
        <div class="example-container mat-elevation-z8" style="width: 99%;height: 80%;margin-top: -30px;">
          <table mat-table [dataSource]="othersTable" style="min-width: 537px; ">
            <ng-container matColumnDef="others">
              <th mat-header-cell *matHeaderCellDef style="width: 150px"> Others </th>
              <td mat-cell *matCellDef="let item">
                <mat-form-field style="width:90px">
                  <input matInput placeholder="Others" [(ngModel)]="item.others=='' ? '' : item.others">
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="amont">
              <th mat-header-cell *matHeaderCellDef  style="width: 120px"> amont </th>
              <td mat-cell *matCellDef="let item">
                <mat-form-field style="width:90px">
                  <input matInput placeholder="amont" [(ngModel)]="item.amont=='' ? '' : item.amont">
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef style="width: 120px"> Unit </th>
              <td mat-cell *matCellDef="let item"> 
                <mat-form-field style="width:90px">
                  <input matInput placeholder="Unit" [(ngModel)]="item.unit=='' ? '' : item.unit">
                </mat-form-field>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="manage">
              <th mat-header-cell *matHeaderCellDef style="width: 120px"> Manage </th>
              <td mat-cell *matCellDef="let item" class="cucer-poiter" (click)="onDelete()"> delete </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnOthers; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columnOthers;"></tr>
            <tr mat-footer-row *matFooterRowDef="columnOthers; sticky: true"></tr>
          </table>
        </div>
      </mat-grid-tile>

      <!-- จอเล็ก -->

      <mat-grid-tile *ngIf="hideCol < 400" colspan="6" rowspan="8" style="height: 244px;margin: 5px;">
          <div class="example-container mat-elevation-z8" style="width: 99%;height: 80%;margin-top: -30px;">
              <table mat-table [dataSource]="othersTable" style="min-width: 537px; ">
                <ng-container matColumnDef="others">
                  <th mat-header-cell *matHeaderCellDef style="width: 150px"> Others </th>
                  <td mat-cell *matCellDef="let item">
                    <mat-form-field style="width:90px">
                      <input matInput placeholder="Others" [(ngModel)]="item.others=='' ? '' : item.others">
                    </mat-form-field>
                  </td>
                  <td mat-footer-cell *matFooterCellDef> Total </td>
                </ng-container>
    
                <ng-container matColumnDef="amont">
                  <th mat-header-cell *matHeaderCellDef  style="width: 120px"> amont </th>
                  <td mat-cell *matCellDef="let item">
                    <mat-form-field style="width:90px">
                      <input matInput placeholder="amont" [(ngModel)]="item.amont=='' ? '' : item.amont">
                    </mat-form-field>
                  </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                <ng-container matColumnDef="unit">
                  <th mat-header-cell *matHeaderCellDef style="width: 120px"> Unit </th>
                  <td mat-cell *matCellDef="let item"> 
                    <mat-form-field style="width:90px">
                      <input matInput placeholder="Unit" [(ngModel)]="item.unit=='' ? '' : item.unit">
                    </mat-form-field>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="manage">
                  <th mat-header-cell *matHeaderCellDef style="width: 120px"> Manage </th>
                  <td mat-cell *matCellDef="let item" class="cucer-poiter" (click)="onDelete()"> delete </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnOthers; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnOthers;"></tr>
                <tr mat-footer-row *matFooterRowDef="columnOthers; sticky: true"></tr>
              </table>
            </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <mat-card class="example-card" style="margin: 8px;">
    <mat-grid-list cols="6" rowHeight="60px" (window:resize)="onResize2($event)">
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%">
          <p>Average Price</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Average Price" [(ngModel)]="dataPricing.totalAll.averageprice">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint4'>
        <div style="width: 100%">
          <p>
            cents/pound
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%">
          <p>Other</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Other" [(ngModel)]="dataPricing.totalAll.other">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint4'>
        <div style="width: 100%">
          <p>
            cents/pound
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%">
          <p>Premium</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Premium" [(ngModel)]="dataPricing.totalAll.premium">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint4'>
        <div style="width: 100%">
          <p>
            cents/pound
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%">
          <p>Final Price</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Final Price" [(ngModel)]="dataPricing.totalAll.finalprice">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint4'>
        <div style="width: 100%">
          <p>
            cents/pound
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%">
          <p>Equivalent</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Equivalent" [(ngModel)]="dataPricing.totalAll.equivalent">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint4'>
        <div style="width: 100%">
          <p>
            USD/MT
          </p>
        </div>
      </mat-grid-tile>
      <!-- <mat-grid-tile [colspan]='breakpoint4'>
        <div style="width: 100%">
          <p>
            Sonfirmed Sell
          </p>
        </div>
      </mat-grid-tile> -->
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%">
          <p>Total Pricing</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Total Pricing" [(ngModel)]="dataPricing.totalAll.totalpricing">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint4'>
        <div style="width: 100%">
          <p>
            lots
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%">
          <p>Priced</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Priced" [(ngModel)]="dataPricing.totalAll.priced">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint4'>
        <div style="width: 100%">
          <p>
            lots
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <div style="width: 100%">
          <p>Unpriced</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint'>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Unpriced" [(ngModel)]="dataPricing.totalAll.unpriced">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='breakpoint4'>
        <div style="width: 100%">
          <p>
            lots
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="6" rowspan="2">
        <div style="width: 100%" class="text-right">

          <button mat-stroked-button color="accent">Save</button>
          <button mat-stroked-button color="warn">Cancel</button>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card>

</div>