<div class="page-layout carded fullwidth" fusePerfectScrollbar>
  <mat-grid-list cols="4" rowHeight="5:1">
    <mat-grid-tile>Type of Sugar</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field style="width: 100%">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>Buyer</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field style="width: 100%">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>Qty(MT)</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>

    </mat-grid-tile>
    <mat-grid-tile>Group Factory</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field style="width: 100%">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>Shipment</mat-grid-tile>
    <mat-grid-tile colspan="1">

      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>
      <p>to</p>
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>

    </mat-grid-tile>
    <mat-grid-tile>Buyer Contract No.</mat-grid-tile>
    <mat-grid-tile>

      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>


    </mat-grid-tile>
    <mat-grid-tile>Contract No.</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field style="width: 100%">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>Contract Date</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>Premium (USD/MT)</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field style="width: 100%">
        <input matInput floatLabel="Favorite food">
      </mat-form-field>

    </mat-grid-tile>
    <mat-grid-tile>Contract Month</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field style="width: 100%">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>Contract Year</mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field style="width: 100%">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>

  <div class="display-div fullwidth" style="border: 1px solid black;margin: 5px; height: 38.5%;">
    <div class="bg-head">
      White Premium
    </div>
    <mat-grid-list cols="6" rowHeight="4:1">
      <mat-grid-tile>Total Pricing - Request (MT)</mat-grid-tile>
      <mat-grid-tile class="mt-5">
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Favorite food">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <p style="color: red">** ห้ามเกิน 12000</p>
      </mat-grid-tile>
      <mat-grid-tile>White Premium</mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field style="width: 100%">
          <mat-label>Favorite food</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Favorite food">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>Total Pricing (lots)</mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Favorite food">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-stroked-button color="accent">add</button>
      </mat-grid-tile>
      <mat-grid-tile>Total Pricing (lots)</mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Favorite food">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-stroked-button color="accent">add</button>
      </mat-grid-tile>

      <!-- ตารางที่1 -->
      <mat-grid-tile colspan="3">
        <div class="head-tb">
          <p>Sell London No.5</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <div class="head-tb">
          <p>Buy New York No.11</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="7" style="height: 244px;margin: 5px;">

        <div class="example-container mat-elevation-z8" style="width: 97%">
          <table mat-table [dataSource]="transactions">
            <!-- Item Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> date </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.date}} </td>
              <td mat-footer-cell *matFooterCellDef> Total Priced  </td>
            </ng-container>

            <!-- Cost Column -->
            <ng-container matColumnDef="lots">
              <th mat-header-cell *matHeaderCellDef> lots </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.lots}} </td>
              <td mat-footer-cell *matFooterCellDef> 120 </td>
            </ng-container>
            <ng-container matColumnDef="Price (USD/MT)">
              <th mat-header-cell *matHeaderCellDef> Price (USD/MT)</th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.Price }} </td>
              <td mat-footer-cell *matFooterCellDef> 341.75 </td>
            </ng-container>
            <ng-container matColumnDef="Manage">
              <th mat-header-cell *matHeaderCellDef> Manage</th>
              <td mat-cell *matCellDef="let transaction"></td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        </div>
      </mat-grid-tile>

      <!-- ตารางที่2 -->

      <!-- <mat-grid-tile colspan="3" rowspan="7" style="height: 244px;margin: 5px;">

        <div class="example-container mat-elevation-z8" style="width: 100%">
          <table mat-table [dataSource]="transactions">
         
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef> Item </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
              <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef> Cost </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
              <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        </div>
      </mat-grid-tile> -->


      <mat-grid-tile>
        <p>Total White Premium</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="Favorite food">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <div style="width: 100%">
          <p>USD/MT</p>

        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="6">
        <div style="width: 100%">
          <button class="mg-right" mat-stroked-button color="accent">add</button>

        </div>
      </mat-grid-tile>
      <!-- ตารางที่3 -->
      <mat-grid-tile colspan="6">
        <div class="head-tb">
          <p>New York No.11</p>
        </div>
      </mat-grid-tile>
      <!-- <mat-grid-tile colspan="6" rowspan="7" style="height: 244px;margin: 5px;">

        <div class="example-container mat-elevation-z8" style="width: 100%">
          <table mat-table [dataSource]="transactions">
       
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef> Item </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
              <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

         
            <ng-container matColumnDef="cost">
              <th mat-header-cell *matHeaderCellDef> Cost </th>
              <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
              <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
          </table>
        </div>
      </mat-grid-tile> -->

    </mat-grid-list>


  </div>

  <mat-grid-list cols="6" rowHeight="4:1">
    <mat-grid-tile colspan="6">
      <div style="width: 100%">
        <button class="mg-right" mat-stroked-button color="accent">add</button>
      </div>
    </mat-grid-tile>
    <!-- ตารางที่4 -->
    <mat-grid-tile colspan="6">
      <div class="head-tb">
        <p>London No.5</p>
      </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile colspan="6" rowspan="7" style="height: 244px;margin: 5px;">
      <div class="example-container mat-elevation-z8" style="width: 100%">
        <table mat-table [dataSource]="transactions">
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> Item </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Cost </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
      </div>
    </mat-grid-tile> -->
    <mat-grid-tile colspan="6">
      <div style="width: 100%">
        <button style="margin-left: 5px" mat-stroked-button color="accent">add</button>
      </div>
    </mat-grid-tile>
    <!-- ตารางที่5 -->
    <!-- <mat-grid-tile colspan="4" rowspan="7" style="height: 244px;margin: 5px;">
      <div class="example-container mat-elevation-z8" style="width: 100%">
        <table mat-table [dataSource]="transactions">
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef> Item </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>

          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Cost </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
            <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
      </div>
    </mat-grid-tile> -->
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>

    </mat-grid-tile>


  </mat-grid-list>
  <mat-grid-list cols="6" rowHeight="4:1">
    <mat-grid-tile colspan="1">
      <div style="width: 100%">
        <p style="margin-left: 10px">Average Price</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <div style="width: 100%">
        <p>
          USD/MT
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div style="width: 100%">
        <p style="margin-left: 10px">Other</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <div style="width: 100%">
        <p>
          USD/MT
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div style="width: 100%">
        <p style="margin-left: 10px">Premium</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <div style="width: 100%">
        <p>
          USD/MT
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div style="width: 100%">
        <p style="margin-left: 10px">Final Price</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div style="width: 100%">
        <p>
          USD/MT
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div style="width: 100%">
        <p>
          Sonfirmed Sell
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div style="width: 100%">
        <p style="margin-left: 10px">Total Pricing</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <div style="width: 100%">
        <p>
          lots
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div style="width: 100%">
        <p style="margin-left: 10px">Priced</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <div style="width: 100%">
        <p>
          lots
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div style="width: 100%">
        <p style="margin-left: 10px">Unpriced</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field style="width: 100%">
        <input matInput placeholder="Favorite food">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
      <div style="width: 100%">
        <p>
          lots
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="6">
      <div style="width: 100%">
        <button style="margin-left: 83%" mat-stroked-button color="accent">Save</button>
        <button mat-stroked-button color="warn">Cancel</button>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>