<div class="page-layout carded fullwidth p-24" fusePerfectScrollbar>
    <!-- <button mat-raised-button color="primary" (click)="onDetail()">Accent</button> -->
    <mat-grid-list [cols]="6" rowHeight="7:1">
        <mat-grid-tile [colspan]="6">
            <div class="left">
                <h2 class="m-0">Pricing White</h2>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <h3 class="m-0">Buyer</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <div style="width: 100%;">
                <mat-form-field style="width: 100%;">
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>