<div id="pricing-hi-raw-list" class="page-layout simple fullwidth" fxLayout="column">

    <!-- CONTENT -->
    <div class="content p-24">

        <form class="mat-card p-24" fxLayout="column" name="form" [formGroup]="form">

            <div class="h2 mb-24">Pricing Hi-Raw</div>

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
                    <mat-label>Buyer</mat-label>
                    <mat-select formControlName="buyer">
                        <mat-option [value]="'United States of America'">
                            United States of America
                        </mat-option>
                        <mat-option [value]="'United Kingdom'">
                            United Kingdom
                        </mat-option>
                        <mat-option [value]="'Russia'">
                            Russia
                        </mat-option>
                        <mat-option [value]="'China'">
                            China
                        </mat-option>
                        <mat-option [value]="'Japan'">
                            Japan
                        </mat-option>
                        <mat-option [value]="'Turkey'">
                            Turkey
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
                    <mat-label>Group Factory</mat-label>
                    <mat-select formControlName="groupfactory">
                        <mat-option [value]="'United States of America'">
                            United States of America
                        </mat-option>
                        <mat-option [value]="'United Kingdom'">
                            United Kingdom
                        </mat-option>
                        <mat-option [value]="'Russia'">
                            Russia
                        </mat-option>
                        <mat-option [value]="'China'">
                            China
                        </mat-option>
                        <mat-option [value]="'Japan'">
                            Japan
                        </mat-option>
                        <mat-option [value]="'Turkey'">
                            Turkey
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pr-4">
                    <mat-label>Buyer Contrace No.</mat-label>
                    <input matInput formControlName="buyercontractno">
                    
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
                    <mat-label>Contract No.</mat-label>
                    <input matInput formControlName="contarctno">
                    
                </mat-form-field>

            </div>
            

        </form>
    </div>
    <!-- / CONTENT -->

</div>