<div id="pricing-hi-raw-list" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <div class="center">
        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Pricing Hi-Raw
                </span>
            </div>
            <!-- / APP TITLE -->



            <!-- ADD BUTTON -->
            <button mat-raised-button (click)="onAdd()" class="add-contract-button fuse-white mt-24 mt-md-0">
                <mat-icon>add</mat-icon>
                <span>ADD NEW PRICING RAW</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->


        <form class="search-card  p-12" fxLayout="column" name="form" [formGroup]="form" #formData='ngForm'
            (ngSubmit)="onSearch(formData)" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
                    <mat-label>Buyer</mat-label>
                    <mat-select formControlName="buyer_id">
                        <mat-option [value]="">
                            --All--
                        </mat-option>
                        <mat-option *ngFor="let buyer of buyers" [value]="buyer.id">
                            {{buyer.party_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
                    <mat-label>Group Factory</mat-label>
                    <mat-select formControlName="groupfactory">
                        <mat-option [value]="">
                            --All--
                        </mat-option>
                        <mat-option *ngFor="let groupfactory of groupfactorys" [value]="groupfactory.id">
                            {{groupfactory.lov1}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pr-4">
                    <mat-label>Buyer Contrace No.</mat-label>
                    <input matInput formControlName="buyercontractno">
                    <!-- <mat-icon matSuffix class="secondary-text">account_circle</mat-icon> -->
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
                    <mat-label>Contract No.</mat-label>
                    <input matInput formControlName="contarctno">
                    <!-- <mat-icon matSuffix class="secondary-text">account_circle</mat-icon> -->
                </mat-form-field>

            </div>

            <div fxLayout="row wrap" fxLayoutAlign="end center" fxFlex="1 0 auto">
                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="SEARCH">
                    <mat-icon>search</mat-icon>
                    <span>SEARCH PRICING RAW</span>
                </button>
            </div>
        </form>

        <div class="content-card  mt-12">
            <mat-table #table class="example-container " *ngIf="dataSource.length > 0" [dataSource]="dataSource"
                multiTemplateDataRows matSort (matSortChange)="sortData($event)" [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell mat-sort-header *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <!-- {{element.id}} -->
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="buyer.party_name">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Buyer</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.buyer?.party_name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="group_factory.lov1">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Group Factory</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.group_factory?.lov1}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="type_of_sugar.lov1">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Suger Type</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.type_of_sugar?.lov1}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="qty">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Quantity(MT)</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.qty | number: '0.2-2'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="shipment_from">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Shipment Period From</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.shipment_from | date: 'dd MMMM yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="shipment_to">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Shipment Period To</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.shipment_to | date: 'dd MMMM yyyy'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="total_pricing">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Total Price</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.total_pricing | number: '0.2-2'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="priced">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Priced</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.priced | number: '0.2-2'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="unpriced">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Unpriced</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.unpriced | number: '0.2-2'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="confirm_price_usd">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Final Price (USD/MT)</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.confirm_price_usd | number: '0.2-2'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="confirm_price_cent">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>Final Price (C/LB)</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.confirm_price_usd | number: '0.2-2'}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded]="expandedElement == row"
                    (contextmenu)="menu.open($event, {data: row} )"></mat-row>

            </mat-table>
        </div>


        <mat-paginator #paginator *ngIf="dataSource.length > 0" [length]="totalRecords" [pageIndex]="0" [pageSize]="5"
            [pageSizeOptions]="[5, 10, 15, 20]">
        </mat-paginator>

        <p *ngIf="dataSource.length === 0">No records found</p>

    </div>

</div>