<div id="pricing-hi-raw-list" class="page-layout simple fullwidth" fxLayout="column">

    <!-- CONTENT -->
    <div class="content p-24">

        <form class="mat-card p-24" fxLayout="column" name="form" [formGroup]="form" #formData='ngForm'
            (ngSubmit)="onSearch(formData)">

            <div class="h2 mb-24">Pricing Hi-Raw</div>

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
                    <mat-label>Buyer</mat-label>
                    <mat-select formControlName="buyer">
                        <mat-option [value]="">
                            --All--
                        </mat-option>
                        <mat-option *ngFor="let buyer of buyers" [value]="buyer.id">
                            {{buyer.party_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
                    <mat-label>Group Factory</mat-label>
                    <mat-select formControlName="groupfactory">
                        <mat-option [value]="">
                            --All--
                        </mat-option>
                        <mat-option *ngFor="let groupfactory of groupfactorys" [value]="groupfactory.id">
                            {{groupfactory.lov1}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pr-4">
                    <mat-label>Buyer Contrace No.</mat-label>
                    <input matInput formControlName="buyercontractno">

                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="50" class="pl-4">
                    <mat-label>Contract No.</mat-label>
                    <input matInput formControlName="contarctno">

                </mat-form-field>

            </div>

            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1 0 auto">
                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="LOGIN">
                    SEARCH
                </button>
            </div>


        </form>
    </div>
    <!-- / CONTENT -->

</div>